* {
  font-family: "Hammersmith One", sans-serif;
}

body {
  margin: 0;
}

nav {
  background-color: #3cacac;
  width: 100vw;
  height: 11.4vw;
  text-align: center;
  /* position: fixed; */
  border-bottom: #000000;
  border-width: 8px;
}

nav img {
  float: left;
  width: 11vw;
}

.banner_top {
  /* padding-top: 10.9vw; */
  width: 100vw;
  background-color: #fcde59;
  color: #8c52ff;
  text-align: center;
}

.banner_top h1 {
  margin: 0;
}

h1.tagline {
  color: #8c52ff;
  font-size: 2em;
  margin: 0px 0 20px 0;
  padding-top: 2vw;
}

ul {
  margin: 0;
}

ul li {
  display: inline;
  padding: 10vw;
  /* margin: 0; */
  /* margin-top: 6vw; */
}

ul li a {
  text-decoration: none;
  color: #fcde59;
  font-size: 2vw;
}

.first_row,
.second_row {
  padding: 4vw 0;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 35vw;
  height: 35vw;
}

.outsider1 {
  height: 35vw;
  width: 44vw;
}

.second_column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home2.png);
  background-repeat: no-repeat;
  background-size: 53vw auto;
  width: 50vw;
  height: 50vw;
}

.inner_text {
  padding-top: 9vw;
  width: 16vw;
  font-size: 1vw;
  text-align: center;
  color: #fcde59;
  padding-left: 7vw;
}

.outsider2 {
  /* padding: 8vh; */
  width: 40vw;
  height: 25vw;
  float: right;
}

.home1,
.home2 {
  color: #fcde59;
  background-image: url("../images/home2.png");
  width: 40vw;
  height: 25vw;
  background-repeat: no-repeat;
}

.banner {
  display: flex;
  text-align: center;
  width: 100vw;
  /* height: 12vw; */
  background-color: #3cacac;
  color: #fcde59;
  justify-content: space-between;
  /* margin: 2vw 0; */
}

.image_row {
  /* Removes minor whitespace between banner and image */
  height: 615.8px;
}

.banner_text {
  width: 100vw;
  font-size: 0.7em;
  /* transform: translate(0%, 25%) */
}

.logo_banner1 {
  width: 20vw;
  float: left;
}

.logo_banner2 {
  width: 20vw;
  float: right;
}

.fifth_row {
  width: 100vw;
  height: 50vw;
  display: flex;
  /* justify-content: center; */
}

.get_involved {
  color: #fcde59;
  background-image: url(../images/home2.png);
  width: 16vw;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: 53vw auto; */
  /* height: 60vw; */
  /* padding-top: 9vw; */
  /* width: 10vw; */
  font-size: 1vw;
  /* text-align: center; */
  /* padding-left: 4vw; */
  margin-bottom: 8vw;
}

.image_row {
  height: auto !important;
}

.target {
  width: 100vw;
  max-inline-size: 100%;
  block-size: auto;
}

.banner2 {
  width: 100vw;
  background-color: #fcde59;
  color: #8c52ff;
  text-align: center;
}

.movie {
  display:flex;
  justify-content: center;
  padding: 3vw;
}

.social {
  display: inline-grid;
  align-items: center;
  padding-left: 1vw;
}

.footer_logo {
  padding-right: 2vw;
}

footer {
  width: 100vw;
  background-color: #3cacac;
  bottom: 0%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  /* position: fixed; */
}

/* About Page Styling */
.descriptor {
  padding: 2vw 10vw;
  font-size: 2vw;
  display: flex;
  justify-content: center;
}

/* Contact Page Styling */
.form_row {
  display: flex;
  justify-content: space-around;
}

.form_column {
  width: 50vw;
  padding: 8vw;
}

.form_logo_column {
  width: 50vw;
}

.form_logo {
  width: 25vw;
  padding: 8vw 12.5vw;
}
